<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="action_company" model="ir.actions.act_window">
        <field name="name">Sociétés</field>
        <field name="res_model">travel.company</field>
        <field name="view_mode">tree,form</field>
    </record>
    
    <record id="action_member" model="ir.actions.act_window">
        <field name="name">Membres</field>
        <field name="res_model">travel.member</field>
        <field name="view_mode">tree,form</field>
    </record>
    
    <record id="action_travel" model="ir.actions.act_window">
        <field name="name">Voyages</field>
        <field name="res_model">travel.destination</field>
        <field name="view_mode">tree,form</field>
    </record>
    
    <record id="action_service" model="ir.actions.act_window">
        <field name="name">Services</field>
        <field name="res_model">travel.service</field>
        <field name="view_mode">tree,form</field>
    </record>
    
    <record id="action_reservation" model="ir.actions.act_window">
        <field name="name">Réservations</field>
        <field name="res_model">travel.reservation</field>
        <field name="view_mode">tree,form</field>
    </record>
    
    <!-- Menu Principal -->
    <menuitem id="menu_travel_pro" name="TravelPro" sequence="10"/>
    
    <!-- Sous-menus Principaux -->
    <menuitem id="menu_company" name="Sociétés" parent="menu_travel_pro" action="action_company" sequence="10"/>
    <menuitem id="menu_member" name="Membres" parent="menu_travel_pro" action="action_member" sequence="20"/>
    <menuitem id="menu_travel" name="Voyages" parent="menu_travel_pro" action="action_travel" sequence="30"/>
    <menuitem id="menu_service" name="Services" parent="menu_travel_pro" action="action_service" sequence="40"/>
    <menuitem id="menu_reservation" name="Réservations" parent="menu_travel_pro" action="action_reservation" sequence="50"/>
    
    <!-- Menu Facturation -->
    <menuitem id="menu_invoicing" name="Facturation" parent="menu_travel_pro" sequence="60"/>
    <menuitem id="menu_invoice_client" name="Factures Clients" parent="menu_invoicing" 
              action="action_travel_invoice_client" sequence="10"/>
    <menuitem id="menu_invoice_odoo" name="Factures Odoo" parent="menu_invoicing" 
              action="account.action_move_out_invoice_type" sequence="20"/>
    
    <!-- Menu Achats -->
    <menuitem id="menu_purchasing" name="Achats" parent="menu_travel_pro" sequence="70"/>
    <menuitem id="menu_purchase_travel" name="Achats Travel" parent="menu_purchasing" 
              action="action_travel_purchase" sequence="10"/>
    <menuitem id="menu_purchase_odoo" name="Achats Odoo" parent="menu_purchasing" 
              action="purchase.purchase_form_action" sequence="20"/>
    <menuitem id="menu_purchase_report" name="Rapport des Achats" parent="menu_purchasing" 
              action="action_travel_purchase_report_wizard" sequence="30"/>
    
    <!-- Menu Retenues -->
    <menuitem id="menu_withholdings" name="Retenues" parent="menu_travel_pro" sequence="75"/>
    <menuitem id="menu_withholding" name="Retenues Fournisseurs" parent="menu_withholdings" 
              action="action_travel_withholding" sequence="10"/>
    
    <!-- Menu Caisse -->
    <menuitem id="menu_pos" name="Caisse (POS)" parent="menu_travel_pro" 
              action="point_of_sale.action_pos_config_kanban" sequence="80"/>
</odoo>